<a href="https://colab.research.google.com/github/leeannmperry/from-computer/blob/master/MLquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
project_id = 'nom-nom-now'
from google.colab import auth
auth.authenticate_user()
#%load_ext google.cloud.bigquery

In [0]:
import pandas as pd
import numpy as np

In [15]:
from google.colab import files
uploaded = files.upload()
import io
rurality = pd.read_csv(io.BytesIO(uploaded['logdensity.csv']))

Saving logdensity.csv to logdensity.csv

In [16]:
rurality.head()

,zip,fips (st+cou),cname (abbr),allocate,zpop,lzpop,lzden,ru2003,ui2003,ruca2,migmet
0,1001,25013,HampdenM,1.000,16576,9.716,7.209,2,2,1.0,100.0
1,1002,25015,Hampshir,0.985,36794,10.513,6.463,2,2,4.1,100.0
2,1005,25027,Worceste,1.000,5077,8.532,4.788,2,2,2.0,100.0
3,1007,25015,Hampshir,1.000,13017,9.474,5.491,2,2,4.1,100.0
4,1008,25013,HampdenM,1.000,1235,7.119,3.166,2,2,2.0,100.0

In [5]:
%%bigquery --project nom-nom-now df
SELECT
  --MICROBIOME INFO
  sample_id,
  
  --SIGNUP QUESTIONS
  Pet.__key__.id AS pet_id,
  pet_type,
  gender,
  current_weight,
  weight AS target_weight,
  ROUND(pet.current_weight/pet.weight,2) AS weight_ratio,
  CASE
    WHEN pet.birthday_month IS NOT NULL 
      THEN ROUND(DATE_DIFF(CURRENT_DATE(), DATE(pet.birthday_year, pet.birthday_month, 1), month)/12,1)
    ELSE ROUND(EXTRACT(year FROM CURRENT_DATE()) - pet.birthday_year, 1)
  END AS pet_age,
  
  --WELLNESS SURVEY
  CASE
    WHEN body_condition = "1-3"
      THEN 1
    WHEN body_condition = "4-5"
      THEN 2
    WHEN body_condition = "6"
      THEN 3
    WHEN body_condition = "7"
      THEN 4
    WHEN body_condition = "8"
      THEN 5
    WHEN body_condition = "9"
      THEN 6
    ELSE NULL
  END AS body_condition,
  pet_appetite,
  currently_pregnant_or_lactating,
  CASE
    WHEN diarrhea_frequency = "never"
      THEN 1
    WHEN diarrhea_frequency = "monthly"
      THEN 2
    WHEN diarrhea_frequency = "weekly"
      THEN 3
    WHEN diarrhea_frequency = "daily"
      THEN 4
    WHEN diarrhea_frequency = "multiple_times_per_day"
      THEN 5
    ELSE NULL
  END AS diarrhea_frequency,
  CASE
    WHEN diarrhea_recency = "more_than_month"
      THEN 1
    WHEN diarrhea_recency = "last_month"
      THEN 2
    WHEN diarrhea_recency = "last_week"
      THEN 3
    WHEN diarrhea_recency = "last_24_hours"
      THEN 4
    ELSE NULL
  END AS diarrhea_recency,
  three_month_weight_change,
  three_month_muscle_mass_loss,
  previous_food, 
  CASE
    WHEN treats_quantity = "None"
      THEN 1
    WHEN treats_quantity = "10_pct_or_less"
      THEN 2
    WHEN treats_quantity = "more_than_10_pct"
      THEN 3
    ELSE NULL
  END AS treats_quantity,
  CASE
    WHEN diet_change_frequency = "rarely"
      THEN 1
    WHEN diet_change_frequency = "multiple_time_per_year"
      THEN 2
    WHEN diet_change_frequency = "monthly"
      THEN 3
    WHEN diet_change_frequency = "weekly"
      THEN 4
    WHEN diet_change_frequency = "daily"
      THEN 5
    ELSE NULL
  END AS diet_change_frequency,
  share_food_or_cook,
  CASE
    WHEN vet_frequency = "yearly"
      THEN 1
    WHEN vet_frequency = "twice_yearly"
      THEN 2
    WHEN vet_frequency = "more_than_twice_yearly"
      THEN 3
    ELSE NULL
  END AS vet_frequency,
  CASE
    WHEN vet_frequency = "if_problem"
      THEN 1
    WHEN (vet_frequency = "yearly")
    OR (vet_frequency = "twice_yearly")
    OR (vet_frequency = "more_than_twice_yearly")
      THEN 0
    ELSE NULL
  END AS vet_frequency_problem,
  medicine_type,
  
  --MICROBIOME SURVEY
  spayed,
  last_vet_visit,
  househould_children,
  other_dogs,
  other_cats,
  been_bred,
  home_environment,
  CASE
    WHEN time_outside = "0-1_hrs_per_day"
      THEN 1
    WHEN time_outside = "1-4_hrs_per_day"
      THEN 2
    WHEN time_outside = "4-8_hrs_per_day"
      THEN 3
    WHEN time_outside = ">8_hrs_per_day"
      THEN 4
    ELSE NULL
  END AS time_outside,
  household_tobacco_use,
  household_gastrointestinal_diseases,
  pet_acquisition_method,
  CASE
    WHEN overall_health = "bad"
      THEN 1
    WHEN overall_health = "poor"
      THEN 2
    WHEN overall_health = "fair"
      THEN 3
    WHEN overall_health = "good"
      THEN 4
    WHEN overall_health = "excellent"
      THEN 5
    ELSE NULL
  END AS overall_health,
  CASE
    WHEN overall_stress = "very_stressed"
      THEN 1
    WHEN overall_stress = "somewhat_stressed"
      THEN 2
    WHEN overall_stress = "average_stressed"
      THEN 3
    WHEN overall_stress = "mildly_stressed"
      THEN 4
    WHEN overall_stress = "not_stressed"
      THEN 5
    ELSE NULL
  END AS overall_stress,
  CASE
    WHEN activity_level = "not_active"
      THEN 1
    WHEN activity_level = "somewhat_active"
      THEN 2
    WHEN activity_level = "average_activity"
      THEN 3
    WHEN activity_level = "active"
      THEN 4
    WHEN activity_level = "very_active"
      THEN 5
    ELSE NULL
  END AS activity_level,
  CASE
    WHEN exercise_per_week = "<4_hours"
      THEN 1
    WHEN exercise_per_week = "4-7_hours"
      THEN 2
    WHEN exercise_per_week = "7-14_hours"
      THEN 3
    WHEN exercise_per_week = "â‰¥14_hours"
      THEN 4
    ELSE NULL
  END AS exercise_per_week,
  CASE
    WHEN stamina_rating = "bad"
      THEN 1
    WHEN stamina_rating = "poor"
      THEN 2
    WHEN stamina_rating = "fair"
      THEN 3
    WHEN stamina_rating = "good"
      THEN 4
    WHEN stamina_rating = "excellent"
      THEN 5
    ELSE NULL 
  END AS stamina_rating,
  currently_overweight,
  previously_overweight,
  struggled_maintaining_weight,
  CASE
    WHEN bathing_frequency = "occasionally"
      THEN 1
    WHEN bathing_frequency = "monthly"
      THEN 2
    WHEN bathing_frequency = "weekly"
      THEN 3
    WHEN bathing_frequency = "more_thank_weekly"
      THEN 4
    ELSE NULL
  END AS bathing_frequency,
  has_intolerances,
  has_suspected_food_allergy,
  is_food_allergy_confirmed_by_diet,
  is_allergy_confirmed_by_hydrolized_diet,
  CASE
    WHEN last_diet_change = "last_month"
      THEN 1
    WHEN last_diet_change = "1-3_months"
      THEN 2
    WHEN last_diet_change = "3-6_months"
      THEN 3
    WHEN last_diet_change = "6-12_months"
      THEN 4
    WHEN last_diet_change = ">12_months"
      THEN 5
    ELSE NULL
  END AS last_diet_change,
  CASE
    WHEN treat_frequency = "never"
      THEN 1
    WHEN treat_frequency = "special_occasions_only"
      THEN 2
    WHEN treat_frequency = "weekly"
      THEN 3
    WHEN treat_frequency = "several_times_per_week"
      THEN 4
    WHEN treat_frequency = "once_daily"
      THEN 5
    WHEN treat_frequency = "multiple_times_per_day"
      THEN 6
    ELSE NULL
  END AS treat_frequency,
  is_poop_eater,
  CASE
    WHEN flatulence_frequency = "never"
      THEN 1
    WHEN flatulence_frequency = "once_in_a_while"
      THEN 2
    WHEN flatulence_frequency = "daily"
      THEN 3
    WHEN flatulence_frequency = "multiple_times_per_day"
      THEN 4
    ELSE NULL
  END AS flatulence_frequency,
  has_taken_probiotics_3_months,
  has_eaten_cultured_3_months,
  has_taken_prebiotics_3_months,
  CASE
    WHEN eating_enthusiasm = "strongly_unenthusiastic"
      THEN 1
    WHEN eating_enthusiasm = "unenthusiastic"
      THEN 2
    WHEN eating_enthusiasm = "neutral"
      THEN 3
    WHEN eating_enthusiasm = "enthusiastic"
      THEN 4
    WHEN eating_enthusiasm = "strongly_enthusiastic"
      THEN 5
    ELSE NULL
  END AS eating_enthusiasm,
  has_gi_condition,
  CASE
    WHEN defecation_frequency = "less_than_every_other_day"
      THEN 1
    WHEN defecation_frequency = "every_other_day"
      THEN 2
    WHEN defecation_frequency = "once_a_day"
      THEN 3
    WHEN defecation_frequency = "twice_daily"
      THEN 4
    WHEN defecation_frequency = "three_or_more_per_day"
      THEN 5
    ELSE NULL
  END AS defecation_frequency,
  bristol_chart,
  
  --MEDICAL SURVEY
  CASE
    WHEN vomiting_recency = "last_24_hours"
      THEN 1
    WHEN vomiting_recency = "last_week"
      THEN 2
    WHEN vomiting_recency = "last_month"
      THEN 3
    WHEN vomiting_recency = "more_than_month"
      THEN 4
    ELSE NULL
  END AS vomiting_recency,
  CASE
    WHEN severe_gastro_issues_young = "yes"
      THEN 1
    WHEN severe_gastro_issues_young = "no"
      THEN 0
    ELSE NULL
  END AS severe_gastro_issues_young,
  CASE 
    WHEN surgery_3_months = "yes"
      THEN 1
    WHEN surgery_3_months = "no"
      THEN 0
    ELSE NULL
  END AS surgery_3_months,
  
  --ORAL SURVEY
  CASE
    WHEN dental_treatment_frequency = "never"
      THEN 1
    WHEN dental_treatment_frequency = "1-2_times"
      THEN 2
    WHEN dental_treatment_frequency = ">3_times"
      THEN 3
    ELSE NULL
  END AS dental_treatment_frequency,
  CASE
    WHEN dental_chew_treats_food_frequency = "never"
      THEN 1
    WHEN dental_chew_treats_food_frequency = "monthly"
      THEN 2
    WHEN dental_chew_treats_food_frequency = "weekly"
      THEN 3
    WHEN dental_chew_treats_food_frequency = "daily"
      THEN 4
    WHEN dental_chew_treats_food_frequency = "multiple_times_per_day"
      THEN 5
    ELSE NULL
  END AS dental_chew_treats_food_frequency,
  CASE
    WHEN breath_description = "very_pleasant"
      THEN 1
    WHEN breath_description = "mildly_pleasant"
      THEN 2
    WHEN breath_description = "neither_good_nor_bad"
      THEN 3
    WHEN breath_description = "mildly_offensive"
      THEN 4
    WHEN breath_description = "very_offensive"
      THEN 5
    ELSE NULL
  END AS breath_description,
  
  --BEHAVIOR SURVEY
  personality_description,
  CASE
    WHEN inappropriate_chewing_frequency = "very_often"
      THEN 1
    WHEN inappropriate_chewing_frequency = "often"
      THEN 2
    WHEN inappropriate_chewing_frequency = "occasionally"
      THEN 3
    WHEN inappropriate_chewing_frequency = "rarely"
      THEN 4
    WHEN inappropriate_chewing_frequency = "never"
      THEN 5
    ELSE NULL
  END AS inappropriate_chewing_frequency,
  CASE
    WHEN inappropriate_barking = "very_often"
      THEN 1
    WHEN inappropriate_barking = "often"
      THEN 2
    WHEN inappropriate_barking = "occasionally"
      THEN 3
    WHEN inappropriate_barking = "rarely"
      THEN 4
    WHEN inappropriate_barking = "never"
      THEN 5
    ELSE NULL
  END AS inappropriate_barking, 
  CASE
    WHEN scared_frequency_new_people = "not_at_all"
      THEN 1
    WHEN scared_frequency_new_people = "mildly"
      THEN 2
    WHEN scared_frequency_new_people = "average"
      THEN 3
    WHEN scared_frequency_new_people = "somewhat"
      THEN 4
    WHEN scared_frequency_new_people = "very"
      THEN 5
    ELSE NULL
  END AS scared_frequency_new_people,
  CASE
    WHEN scared_frequency_new_surroundings = "not_at_all"
      THEN 1
    WHEN scared_frequency_new_surroundings = "mildly"
      THEN 2
    WHEN scared_frequency_new_surroundings = "average"
      THEN 3
    WHEN scared_frequency_new_surroundings = "somewhat"
      THEN 4
    WHEN scared_frequency_new_surroundings = "very"
      THEN 5
    ELSE NULL
  END AS scared_frequency_new_surroundings,
  CASE
    WHEN scared_frequency_unfamiliar_pets = "not_at_all"
      THEN 1
    WHEN scared_frequency_unfamiliar_pets = "mildly"
      THEN 2
    WHEN scared_frequency_unfamiliar_pets = "average"
      THEN 3
    WHEN scared_frequency_unfamiliar_pets = "somewhat"
      THEN 4
    WHEN scared_frequency_unfamiliar_pets = "very"
      THEN 5
    ELSE NULL
  END AS scared_frequency_unfamiliar_pets,
  CASE
    WHEN nervous_pee_frequency = "never"
      THEN 1
    WHEN nervous_pee_frequency = "rarely"
      THEN 2
    WHEN nervous_pee_frequency = "occasionally"
      THEN 3
    WHEN nervous_pee_frequency = "often"
      THEN 4
    WHEN nervous_pee_frequency = "very_often"
      THEN 5
    ELSE NULL
  END AS nervous_pee_frequency,
  CASE
    WHEN prey_drive = "never"
      THEN 1
    WHEN prey_drive = "rarely"
      THEN 2
    WHEN prey_drive = "occasionally"
      THEN 3
    WHEN prey_drive = "often"
      THEN 4
    WHEN prey_drive = "very_often"
      THEN 5
    ELSE NULL
  END AS prey_drive, 
  CASE
    WHEN inappropriate_mounting_frequency = "never"
      THEN 1
    WHEN inappropriate_mounting_frequency = "rarely"
      THEN 2
    WHEN inappropriate_mounting_frequency = "occasionally"
      THEN 3
    WHEN inappropriate_mounting_frequency = "often"
      THEN 4
    WHEN inappropriate_mounting_frequency = "very_often"
      THEN 5
    ELSE NULL
  END AS inappropriate_mounting_frequency,  
  CASE
    WHEN overall_aggression = "not_at_all"
      THEN 1
    WHEN overall_aggression = "mildly"
      THEN 2
    WHEN overall_aggression = "average"
      THEN 3
    WHEN overall_aggression = "somewhat"
      THEN 4
    WHEN overall_aggression = "very"
      THEN 5
    ELSE NULL
  END AS overall_aggression,
  CASE
    WHEN other_pet_aggression = "not_at_all"
      THEN 1
    WHEN other_pet_aggression = "mildly"
      THEN 2
    WHEN other_pet_aggression = "average"
      THEN 3
    WHEN other_pet_aggression = "somewhat"
      THEN 4
    WHEN other_pet_aggression = "very"
      THEN 5
    ELSE NULL
  END AS other_pet_aggression,  
  CASE
    WHEN unfamiliar_people_aggression = "not_at_all"
      THEN 1
    WHEN unfamiliar_people_aggression = "mildly"
      THEN 2
    WHEN unfamiliar_people_aggression = "average"
      THEN 3
    WHEN unfamiliar_people_aggression = "somewhat"
      THEN 4
    WHEN unfamiliar_people_aggression = "very"
      THEN 5
    ELSE NULL
  END AS unfamiliar_people_aggression,  
  CASE
    WHEN overall_mood = "excellent"
      THEN 1
    WHEN overall_mood = "very_good"
      THEN 2
    WHEN overall_mood = "good"
      THEN 3
    WHEN overall_mood = "fair"
      THEN 4
    WHEN overall_mood = "depressed"
      THEN 5
    ELSE NULL
  END AS overall_mood,
  CASE
    WHEN overall_energy = "very_high"
      THEN 1
    WHEN overall_energy = "high"
      THEN 2
    WHEN overall_energy = "average"
      THEN 3
    WHEN overall_energy = "low"
      THEN 4
    WHEN overall_energy = "very_low"
      THEN 5
    ELSE NULL
  END AS overall_energy,
  CASE
    WHEN food_motivation_level = "not_at_all"
      THEN 1
    WHEN food_motivation_level = "mildly"
      THEN 2
    WHEN food_motivation_level = "average"
      THEN 3
    WHEN food_motivation_level = "somewhat"
      THEN 4
    WHEN food_motivation_level = "very"
      THEN 5
    ELSE NULL
  END AS food_motivation_level,
  CASE
    WHEN sneeze_frequency = "multiple_times_per_day"
      THEN 1
    WHEN sneeze_frequency = "daily"
      THEN 2
    WHEN sneeze_frequency = "weekly"
      THEN 3
    WHEN sneeze_frequency = "monthly"
      THEN 4
    WHEN sneeze_frequency = "never"
      THEN 5
    ELSE NULL
  END AS sneeze_frequency,
  CASE
    WHEN tail_chasing_frequency = "multiple_times_per_day"
      THEN 1
    WHEN tail_chasing_frequency = "daily"
      THEN 2
    WHEN tail_chasing_frequency = "weekly"
      THEN 3
    WHEN tail_chasing_frequency = "monthly"
      THEN 4
    WHEN tail_chasing_frequency = "never"
      THEN 5
    ELSE NULL
  END AS tail_chasing_frequency, 
  CASE
    WHEN mark_territory_frequency = "multiple_times_per_day"
      THEN 1
    WHEN mark_territory_frequency = "daily"
      THEN 2
    WHEN mark_territory_frequency = "weekly"
      THEN 3
    WHEN mark_territory_frequency = "monthly"
      THEN 4
    WHEN mark_territory_frequency = "never"
      THEN 5
    ELSE NULL
  END AS mark_territory_frequency,
  CAST(addresses.zipcode[ORDINAL(1)] AS INT64) as zipcode
FROM
  nom_datastore.PetSurvey
LEFT JOIN
  nom_datastore.Pet
ON PetSurvey.__key__.id = Pet.__key__.id
LEFT JOIN
UNNEST(microbiome_id) as microbiome_id
LEFT JOIN
  nom_datastore.SequencingResults
ON microbiome_id = SequencingResults.sample_id
LEFT JOIN
  nom_datastore.Customer
ON Pet.customer.id = Customer.__key__.id 
WHERE
  (wellness_completed_date IS NOT NULL 
  OR medical_completed_date IS NOT NULL
  OR oral_completed_date IS NOT NULL
  OR microbiome_completed_date IS NOT NULL
  OR behavior_completed_date IS NOT NULL)

,sample_id,pet_id,pet_type,gender,current_weight,target_weight,weight_ratio,pet_age,body_condition,pet_appetite,...,overall_aggression,other_pet_aggression,unfamiliar_people_aggression,overall_mood,overall_energy,food_motivation_level,sneeze_frequency,tail_chasing_frequency,mark_territory_frequency,zipcode
0,None,6207339789025280,1,None,10,10,1.00,2.0,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89431.0
1,None,4904323400073216,0,male,17,14,1.21,9.2,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44145.0
2,None,5807012508073984,0,female,9,8,1.13,1.5,NaN,None,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77449.0
3,None,6074968867602432,0,None,28,25,1.12,10.0,NaN,None,...,1.0,1.0,1.0,1.0,5.0,5.0,3.0,4.0,3.0,94566.0
4,None,6263687008485376,1,female,9,9,1.00,3.8,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94507.0
5,None,6685210634616832,0,female,15,8,1.88,2.8,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32092.0
6,None,5809271459545088,0,male,28,34,0.82,1.4,NaN,None,...,1.0,1.0,1.0,1.0,2.0,5.0,2.0,5.0,2.0,32226.0
7,None,6585271090937856,1,female,14,7,2.00,9.6,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33428.0
8,None,4851651330441216,0,male,8,8,1.00,9.3,NaN,None,...,1.0,2.0,1.0,4.0,4.0,4.0,1.0,5.0,3.0,33976.0
9,None,5166823597146112,0,female,4,5,0.80,2.7,NaN,None,...,1.0,1.0,1.0,2.0,2.0,5.0,3.0,5.0,2.0,90042.0
10,None,5565953213464576,1,female,16,10,1.60,8.8,NaN,None,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11581.0
11,None,5289639092944896,0,male,45,45,1.00,11.4,NaN,None,...,1.0,1.0,1.0,3.0,3.0,4.0,3.0,2.0,1.0,94043.0
12,None,5960469709848576,1,female,8,8,1.00,10.0,NaN,None,...,2.0,3.0,1.0,1.0,3.0,4.0,5.0,5.0,5.0,2657.0
13,None,5525958851297280,0,None,65,60,1.08,5.8,3.0,Normal,...,2.0,5.0,2.0,3.0,3.0,5.0,NaN,5.0,2.0,92105.0
14,None,5687457943126016,1,None,8,8,1.00,7.0,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22041.0
15,None,5177071137456128,1,female,9,12,0.75,11.4,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89509.0
16,None,4924683898060800,0,None,14,14,1.00,14.6,NaN,None,...,1.0,1.0,1.0,2.0,3.0,5.0,5.0,5.0,5.0,32129.0
17,None,5666311365459968,1,None,6,6,1.00,1.6,2.0,None,...,NaN,3.0,2.0,2.0,2.0,5.0,3.0,NaN,5.0,77080.0
18,None,6208815634579456,0,None,15,15,1.00,2.6,NaN,None,...,3.0,1.0,1.0,5.0,4.0,2.0,5.0,3.0,1.0,33511.0
19,None,6677532038397952,0,male,6,6,1.00,12.1,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91040.0
20,None,5651736695930880,0,female,9,9,1.00,6.8,NaN,None,...,1.0,1.0,1.0,1.0,3.0,3.0,4.0,5.0,5.0,93065.0
21,None,5217310623137792,0,female,8,8,1.00,11.3,NaN,None,...,1.0,1.0,1.0,2.0,3.0,5.0,3.0,5.0,5.0,34212.0
22,None,5451103567085568,0,male,10,15,0.67,1.3,NaN,None,...,1.0,1.0,1.0,1.0,1.0,5.0,5.0,5.0,1.0,14202.0
23,None,6602311166066688,0,male,15,15,1.00,10.1,NaN,None,...,1.0,2.0,2.0,2.0,3.0,2.0,5.0,5.0,3.0,95014.0
24,None,6403509433925632,0,female,12,13,0.92,1.0,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33029.0
25,None,5140927175720960,0,female,20,15,1.33,11.9,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1220.0
26,None,5225667931144192,0,female,30,30,1.00,8.2,3.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90401.0
27,None,4852057074827264,1,None,10,12,0.83,11.7,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067.0
28,None,6144846387478528,0,female,9,9,1.00,9.8,NaN,None,...,1.0,1.0,1.0,2.0,3.0,5.0,3.0,5.0,3.0,27529.0
29,None,5231592660271104,0,male,6,7,0.86,1.3,NaN,None,...,1.0,2.0,1.0,1.0,1.0,2.0,5.0,5.0,2.0,98273.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6084,None,6216794807205888,0,female,50,45,1.11,5.4,3.0,Normal,...,2.0,4.0,3.0,2.0,4.0,3.0,1.0,5.0,2.0,33908.0
6085,None,4856715705057280,1,female,9,9,1.00,0.9,2.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92617.0
6086,None,6268619027644416,0,male,104,90,1.16,9.9,4.0,Normal,...,1.0,1.0,1.0,1.0,3.0,4.0,4.0,5.0,2.0,21122.0
6087,None,4774670914027520,0,male,30,30,1.00,1.9,2.0,None,...,1.0,1.0,1.0,1.0,1.0,4.0,3.0,3.0,2.0,60103.0
6088,None,5441630658101248,0,None,15,15,1.00,4.8,2.0,Normal,...,1.0,1.0,1.0,1.0,3.0,3.0,5.0,5.0,5.0,33411.0
6089,None,4829014508175360,0,male,67,85,0.79,1.9,1.0,Decreased,...,2.0,5.0,1.0,2.0,1.0,2.0,5.0,5.0,5.0,73401.0
6090,None,4875265601699840,0,male,65,65,1.00,2.1,2.0,Normal,...,3.0,3.0,1.0,3.0,2.0,1.0,3.0,5.0,2.0,95060.0
6091,None,6591444938653696,0,female,33,30,1.10,3.7,3.0,Normal,...,1.0,1.0,1.0,1.0,2.0,3.0,3.0,5.0,5.0,10025.0
6092,None,6596403254001664,0,male,21,21,1.00,6.9,2.0,Normal,...,2.0,2.0,2.0,2.0,2.0,2.0,3.0,5.0,1.0,98103.0
6093,None,6411006571970560,0,female,188,175,1.07,7.8,5.0,Normal,...,1.0,1.0,1.0,3.0,4.0,2.0,1.0,5.0,5.0,2030.0
6094,None,6700408447696896,0,female,9,9,1.00,4.8,2.0,Normal,...,2.0,2.0,1.0,3.0,3.0,3.0,2.0,5.0,NaN,75103.0
6095,None,6413116017475584,0,male,10,10,1.00,9.4,2.0,Normal,...,4.0,2.0,3.0,3.0,3.0,5.0,4.0,5.0,2.0,90305.0
6096,None,4526599468744704,0,female,52,50,1.04,3.7,4.0,Normal,...,2.0,2.0,1.0,1.0,2.0,5.0,3.0,5.0,1.0,98121.0
6097,None,5912025431539712,0,male,78,78,1.00,4.5,3.0,Normal,...,3.0,2.0,4.0,3.0,2.0,5.0,3.0,5.0,2.0,80231.0
6098,None,6215791198339072,0,male,85,90,0.94,6.7,2.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99353.0
6099,None,5548911672426496,0,female,5,5,1.00,2.8,2.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94703.0
6100,None,4934027461001216,0,None,65,65,1.00,7.8,3.0,Decreased,...,1.0,2.0,1.0,1.0,3.0,2.0,5.0,5.0,4.0,28166.0
6101,None,5688248414240768,0,female,42,42,1.00,2.6,2.0,Normal,...,2.0,2.0,1.0,1.0,2.0,3.0,5.0,5.0,2.0,33618.0
6102,None,6166611738230784,0,female,20,16,1.25,4.4,3.0,Decreased,...,2.0,2.0,1.0,2.0,2.0,4.0,3.0,5.0,5.0,93704.0
6103,None,4861244144091136,0,None,90,80,1.13,5.8,3.0,Normal,...,2.0,1.0,1.0,1.0,2.0,3.0,4.0,5.0,5.0,21122.0
6104,None,5458956400984064,0,None,23,20,1.15,3.8,3.0,Increased,...,1.0,4.0,1.0,1.0,3.0,1.0,5.0,5.0,1.0,34238.0
6105,None,5653876600471552,0,female,12,12,1.00,1.1,2.0,Normal,...,1.0,1.0,1.0,1.0,2.0,4.0,5.0,3.0,NaN,84770.0
6106,None,5809930894311424,1,male,16,14,1.14,3.1,3.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97202.0
6107,None,6620414862163968,0,male,15,15,1.00,6.2,2.0,Normal,...,2.0,2.0,2.0,1.0,1.0,5.0,3.0,5.0,3.0,92105.0
6108,None,4956177265852416,0,female,18,14,1.29,6.0,4.0,Increased,...,1.0,1.0,1.0,2.0,3.0,5.0,5.0,5.0,4.0,97850.0
6109,None,5040023143448576,0,male,75,75,1.00,5.7,4.0,None,...,1.0,2.0,1.0,1.0,4.0,5.0,1.0,5.0,2.0,76020.0
6110,None,6433422408941568,0,male,10,8,1.25,2.9,3.0,Normal,...,4.0,4.0,4.0,2.0,2.0,5.0,5.0,5.0,1.0,95616.0
6111,None,6184478198202368,0,female,64,55,1.16,7.1,2.0,Normal,...,3.0,4.0,1.0,1.0,1.0,5.0,3.0,5.0,5.0,66216.0
6112,None,6352101259083776,0,female,19,18,1.06,0.8,3.0,Normal,...,1.0,1.0,1.0,1.0,1.0,5.0,3.0,5.0,5.0,63025.0
6113,None,5520186528497664,0,female,56,56,1.00,2.4,2.0,Normal,...,1.0,1.0,1.0,1.0,2.0,4.0,4.0,4.0,5.0,33326.0

In [0]:
#rurality.loc[(rurality.ru2003 <= 2), 'environment'] = 'urban'
#rurality.loc[(rurality.ru2003 > 2) & (rurality.ru2003 < 7), 'environment'] = 'suburban'
#rurality.loc[(rurality.ru2003 >= 7), 'environment'] = 'rural'
#rurality = rurality.drop(columns='ru2003')
#result = pd.merge(df, rurality[['zip', 'environment']], left_on='zipcode', right_on='zip', how='left')

In [0]:
result = pd.merge(df, rurality[['zip', 'lzden']], left_on='zipcode', right_on='zip', how='left')

In [18]:
result.head()

,sample_id,pet_id,pet_type,gender,current_weight,target_weight,weight_ratio,pet_age,body_condition,pet_appetite,...,unfamiliar_people_aggression,overall_mood,overall_energy,food_motivation_level,sneeze_frequency,tail_chasing_frequency,mark_territory_frequency,zipcode,zip,lzden
0,None,6207339789025280,1,None,10,10,1.00,2.0,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89431.0,89431.0,8.277
1,None,4904323400073216,0,male,17,14,1.21,9.2,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44145.0,44145.0,7.595
2,None,5807012508073984,0,female,9,8,1.13,1.5,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77449.0,77449.0,7.161
3,None,6074968867602432,0,None,28,25,1.12,10.0,NaN,None,...,1.0,1.0,5.0,5.0,3.0,4.0,3.0,94566.0,94566.0,7.173
4,None,6263687008485376,1,female,9,9,1.00,3.8,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94507.0,94507.0,6.709

In [0]:
result = result.sort_values(by="lzden", ascending=True)

In [20]:
result.head()

,sample_id,pet_id,pet_type,gender,current_weight,target_weight,weight_ratio,pet_age,body_condition,pet_appetite,...,unfamiliar_people_aggression,overall_mood,overall_energy,food_motivation_level,sneeze_frequency,tail_chasing_frequency,mark_territory_frequency,zipcode,zip,lzden
1859,None,6168536542085120,1,None,7,9,0.78,13.3,2.0,Increased,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92328.0,92328.0,-1.518
2392,None,6589416778760192,0,female,10,10,1.00,14.8,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89049.0,89049.0,-0.626
5363,None,5553845828583424,1,male,8,8,1.00,2.6,2.0,Normal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89301.0,89301.0,0.538
2458,None,5667344707747840,0,female,5,5,1.00,14.4,2.0,Normal,...,1.0,3.0,4.0,2.0,5.0,5.0,5.0,83429.0,83429.0,0.658
2226,None,5073421161463808,0,male,22,26,0.85,5.8,1.0,Normal,...,1.0,3.0,3.0,5.0,1.0,5.0,4.0,83429.0,83429.0,0.658

In [0]:
ruralmax = int(result.home_environment.value_counts()['rural']/result.home_environment.value_counts().sum()
*result.index.value_counts().sum())
suburbanmax = ruralmax + int(result.home_environment.value_counts()['suburban']/result.home_environment.value_counts().sum()
*result.index.value_counts().sum())
urbanmax = result.index.value_counts().sum()

In [42]:
ruralmax

866

In [0]:
result['environment'] = np.nan

In [0]:
result.iloc[:ruralmax, result.columns.get_loc('environment')] = 'rural'
result.iloc[ruralmax:suburbanmax, result.columns.get_loc('environment')] = 'suburban'
result.iloc[suburbanmax:urbanmax, result.columns.get_loc('environment')] = 'urban'

In [45]:
result.environment.value_counts()

suburban    3587
urban       1661
rural        866
Name: environment, dtype: int64

In [0]:
result['merged_environment'] = np.where(result['home_environment'], result['home_environment'], result['environment'])

In [0]:
environment_check = result[['home_environment', 'environment', 'merged_environment']].copy()

In [49]:
environment_check.head(25)

     home_environment environment merged_environment
1859            rural       rural              rural
2392            rural       rural              rural
5363         suburban       rural           suburban
2458            rural       rural              rural
2226            rural       rural              rural
3299            rural       rural              rural
2066            rural       rural              rural
2944            rural       rural              rural
1591            rural       rural              rural
3333             None       rural              rural
2703            rural       rural              rural
3841             None       rural              rural
1157             None       rural              rural
5080            rural       rural              rural
4136             None       rural              rural
3715             None       rural              rural
3152         suburban       rural           suburban
2519            rural       rural              rural
5357            rural       rural              rural
6038            rural       rural              rural
3009            rural       rural              rural
975              None       rural              rural
2557            rural       rural              rural
2884            rural       rural              rural
3610             None       rural              rural

In [0]:
df = result

In [0]:
df = df.drop_duplicates()

In [0]:
drop_duplicates = df[df['sample_id'].duplicated()]['sample_id'].value_counts().index.tolist()

In [53]:
drop_duplicates

['NN1800057', '1215', '1216']

In [0]:
df_duplicates = df[df['sample_id'].isin(drop_duplicates)]

In [55]:
df_duplicates

,sample_id,pet_id,pet_type,gender,current_weight,target_weight,weight_ratio,pet_age,body_condition,pet_appetite,...,overall_energy,food_motivation_level,sneeze_frequency,tail_chasing_frequency,mark_territory_frequency,zipcode,zip,lzden,environment,merged_environment
2615,1216,6315084395577344,0,male,19,24,0.79,1.8,1.0,Decreased,...,1.0,2.0,1.0,5.0,1.0,34786.0,34786.0,6.131,suburban,suburban
4693,1215,4911606752346112,0,male,21,20,1.05,5.8,2.0,Normal,...,2.0,5.0,2.0,5.0,2.0,10031.0,10031.0,11.505,urban,urban
50,NN1800057,6186068883800064,0,female,9,9,1.00,9.0,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,urban,urban
2722,1216,6163619823747072,0,None,17,20,0.85,NaN,1.0,Decreased,...,2.0,3.0,1.0,5.0,1.0,NaN,NaN,NaN,urban,suburban
4781,NN1800057,4600252403286016,0,None,9,9,1.00,NaN,2.0,None,...,2.0,5.0,4.0,5.0,2.0,NaN,NaN,NaN,urban,rural
5149,1215,6698989443350528,0,None,21,20,1.05,NaN,2.0,Normal,...,2.0,5.0,2.0,5.0,2.0,NaN,NaN,NaN,urban,urban

In [0]:
df_dropped = df[~df['sample_id'].isin(drop_duplicates)]

In [0]:
df_dropped = df_dropped.drop(columns = ['home_environment', 'zipcode', 'zip', 'lzden', 'environment'])

In [0]:
df_dropped.to_csv('data.csv',sep=',')

In [0]:
from google.colab import files
files.download("data.csv")

In [0]:
# Create correlation matrix
corr_matrix = df.corr().abs()

indices = np.where(corr_matrix > 0.4)
indices = [(corr_matrix.index[x], corr_matrix.columns[y]) for x, y in zip(*indices)
                                        if x != y and x < y]

In [0]:
indices

[('pet_type', 'diarrhea_frequency'),
 ('current_weight', 'target_weight'),
 ('weight_ratio', 'body_condition'),
 ('pet_age', 'activity_level'),
 ('pet_age', 'stamina_rating'),
 ('pet_age', 'dental_treatment_frequency'),
 ('pet_age', 'overall_energy'),
 ('diarrhea_frequency', 'diarrhea_recency'),
 ('diarrhea_frequency', 'bristol_chart'),
 ('diet_change_frequency', 'last_diet_change'),
 ('time_outside', 'exercise_per_week'),
 ('overall_health', 'activity_level'),
 ('overall_health', 'stamina_rating'),
 ('overall_health', 'overall_mood'),
 ('overall_health', 'overall_energy'),
 ('activity_level', 'exercise_per_week'),
 ('activity_level', 'stamina_rating'),
 ('activity_level', 'overall_energy'),
 ('exercise_per_week', 'stamina_rating'),
 ('stamina_rating', 'overall_energy'),
 ('eating_enthusiasm', 'food_motivation_level'),
 ('scared_frequency_new_people', 'scared_frequency_new_surroundings'),
 ('scared_frequency_new_people', 'scared_frequency_unfamiliar_pets'),
 ('scared_frequency_new_people', 'unfamiliar_people_aggression'),
 ('scared_frequency_new_surroundings', 'scared_frequency_unfamiliar_pets'),
 ('overall_aggression', 'other_pet_aggression'),
 ('overall_aggression', 'unfamiliar_people_aggression'),
 ('other_pet_aggression', 'unfamiliar_people_aggression')]